body {
    background-color: rgba(255, 235, 205, 0.843);

}
h1 {
    text-align: center;
}
p {
    display: block;
    text-align: center;

}
a {
    color: rgba(165, 42, 42, 0.422);
}
img {
    max-width: 300px;
    display: block;
}