body {
    background-color: rgba(255, 235, 205, 0.843);

}
h1 {
    text-align: center;
}
p {
    display: block;
    text-align: center;

}
a {
    color: rgba(129, 73, 73, 0.363);
}
.croissant-photo {
max-width: 60%;
border-radius: 10px;
display: block;
margin: 30px auto;
}

footer {
    text-align: center;
}
footer a {
    margin: 0 10px;
}
.mail {
    text-align: center;
}